/*  -----------------------------------------        */
/*  Übergreifend / Body                              */
/*  -----------------------------------------        */
html, body {
 background-image:url(../hintergrund.jpg); !Hintergrundbild verwenden;
 background-repeat:no-repeat; !Hintergrundbild wird nicht wiederholt;
 background-size: cover;      !Parallax-Effekt - Hintergundbild ist bildschirmfüllend;
 overflow:hidden;             !Alle Body-Scrollbalken verstecken;
}

#kopfbereich {

  position:fixed;            ! Position des Kopfbereichs ist immer oben - FIX!;
  top:0;                     ! Position oben;
  left:0;                    ! Position ganz links;
  border: 1px solid #ccc;    ! Rahmenart und -farbe;
  background-color:#182C52;    ! Hintergrundfarbe;
  width:100%;                ! Breite des Kopfbereichs;
  height:100px;              ! Höhe des Kopfbereichs;
  z-index:2;                 ! Kopfbereich überlagert andere Bereiche;                
}

#navibereich {
  position:fixed;            ! Position des Navibereichs immer links! - Fix;
  top: 101px;                ! Position unterhalb des Kopfbereiches;
  left:0;                    ! Position ganz links;
  border: 1px solid #ccc;    ! Rahmenart und -farbe;
  background-color: #82AED1;      ! Hintergrundfarbe;
  width:200px;               ! Breite des Navibereichs;
  min-height:200px;          ! Minimal-Höhe des Navibereichs;
  z-index:2;                 ! Navibereich überlagert andere Bereiche;
}

#textbereich {

  position:fixed;            ! Position des Textbereichs immer in der Mitte!;
  left:0;                    ! Textbereich fängt ganz links an;
  right:0;                   ! Textbereich geht bis ganz rechts;
  top:100px;                 ! Außenabstand zum Kopfbereich;
  padding-left:210px;        ! Innenabstand zum Menü;
  padding-right:210px;       ! Innenabstand zum Newsbereich;
  padding-top:20px;          ! Innenabstand nach oben;
  padding-bottom:60px;       ! Innenabstand nach unten;
  border: 1px solid #ccc;    ! Rahmenart und -farbe;
  height:100%;               ! Höhe des Textbereiches auf 100% eingestellt;
  overflow-y: auto;          ! Zeige Scrollbalken rechts, falls notwendig;
  background-color:rgba(255,255,255,0.5); ! Hintergrund ist weiß mit 50 %iger Transparenz;
  p {
 font-family: 'Montserrat', sans-serif;    ! Festlegung der Schriftart;
 font-style:normal;               		! Festlegung des Schrifttyps;
 font-size:11pt;                  		! Festlegung des Schriftgröße;
 font-weight:normal;              		! Festlegung der Fettschrift;
 color:#000000;                   		! Festlegung des Schriftfarbe;
 font-weight:bold;
 .bigger { font-size:200%; }
}
}

#newsbereich {
  position:fixed;            ! Position des Newsbereichs immer rechts! - FIX;
  right:0px;                 ! Rechtsausrichtung;
  top: 101px;                ! Position unterhalb des Kopfbereiches;
  border: 1px solid #ccc;    ! Rahmenart und -farbe;
  background-color: #82AED1;   ! Hintergrundfarbe;
  width:200px;               ! Breite des Newsbereichs;
  min-height:200px;          ! Minimal-Höhe des Newsbereichs;
  z-index:2;                 ! Newsbereich überlagert andere Bereiche;
}

#fussbereich {

 position:fixed;              ! Position des Fußbereichs immer unten!;
 bottom:0;                    ! Unten ausgerichtet!;
 left:0;                      ! Position ganz links;
 border: 1px solid #ccc;      ! Rahmenart und -farbe;
 width: 100%;                 ! Breite des Fussbereichs;
 background-color: #182C52;   ! Hintergrundfarbe;
 height:50px;                 ! Höhe des Fußbereichs;
 z-index:2;                   ! Fußbereich überlagert andere Bereiche;  
} 

/*  Höhe des Contentbereichs festlegen (wichtig!)    */                    
.content-block {
  padding-bottom: 1000px;
}

/*  ----------------------------------------- */
/*  Schriftformatierung                       */
/*  ----------------------------------------- */

p {
font-family: 'Montserrat', sans-serif;  ! Festlegung der Schriftart;
font-style:normal;                      ! Festlegung des Schrifttyps;
font-size:11pt;                         ! Festlegung des Schriftgröße;
font-weight:400;                        ! Festlegung der Fettschrift (400 = normal, 700 = fett);
color:#000000;                          ! Festlegung des Schriftfarbe, hier Schwarz;
}
.title {
font-size:12pt;                                                    ! Festlegung des Schriftgröße;
font-weight:bold;                                                  ! Festlegung der Fettschrift;
}
/*  -----------------------------------------        */
/*  Menüformatierung                                 */
/*  -----------------------------------------        */

/*  Linkformatierung für das Menü übergreifend       */
.naviformat a, button {
  	font-family: 'Montserrat', sans-serif;
  	text-transform:uppercase;	! Verwende Großbuchstaben;
font-size:90%;            	! Festlegung des Schriftgröße;
	font-weight:700;		      ! Festlegung Fettschrift für Montserrat;
	color: rgb(0,0,0);		! Festlegung des Schriftfarbe (schwarz);
	display: block;			! Art der Anzeige als Blockelement;
	transition: all 0.3s ease-out 0s; ! Definition Übergang von Normal zu Hover;
	text-decoration:none;		! Keinen Unterstrich unterhalb des Menütitels;
  	line-height: 20px;		! Höhe der Zeile wird festgelegt;
  	padding: 5px 5px;			! Innenabstand nach links/rechts/oben/unten;
}
/*  Formatierung des Hauptmenüs (mainnav)                  */
.mainnav {
	text-align:right;          ! Textausrichtung rechtbündig;
	list-style-type: none;     ! es werden keine Aufzählungszeichen dargestellt;
	margin: 20px 5px;          ! Abstände nach oben/unten und rechts/links;
       padding: 5px 5px;          ! Innenabstand nach links/rechts/oben/unten;
}

.mainnav > li {
	float:none;	! Menüpunkte untereinander, bei float:left, nebeneinander;
}				
/*  Formatierung des aktiven Hauptmenüpunkts */
.mainnav > li > a.active {
	font-weight:700;		! Festlegung der Fettschrift, auch „bold“ möglich;
	text-shadow: 1px 1px black, 2px 2px grey, 3px 3px 	#696969; ! Text-Schatten;
  	color: rgba(90,195,208,1);	! Festlegung des Schriftfarbe;
}
/*  Formatierung des Menüpunkts, wenn die Maus darüber fährt */
.mainnav > li > a:hover {
	font-weight:700;		! Festlegung der Fettschrift, auch „bold“ möglich;
	font-style:italic;	! Festlegung der Kursiv-Schrift;
	text-shadow: 1px 1px white, 2px 2px white, 3px 3px white; ! Text-Schatten;
  	background-color:rgba(255,255,255,0.7);   ! Hintergrundfarbe;
}
/*  -----------------------------------------        */
/*  Für Teaser (Blickfang)             	        */
/*  -----------------------------------------        */
.teaser {
	font-weight:bold;				! setze Schriftart und -gewicht;
	font-family:'Montserrat', sans-serif;
	padding: 5px 5px;				! Innenabstand für den Teaser;
	margin: 0 2px 4px 2px;			! Außenabstand nach unten zum nächsten Teaser;
	border-bottom: 1px solid #ccc;		! unten gibt es eine Begrenzungslinie;
}
.teaser_date {
	font-size:90%;                          ! etwas kleiner als die Standardschrift;
}
.teaser_title {
	font-size:110%;                         ! etwas größer als die Standardschrift;
	line-height:140%;
}
.teaser_text {
        line-height: 140%;                     ! Anpassung der Zeilenhöhe;
}
a.teaser_link {
padding-top: 4px;
color:black;
}
.teaser_border {
  color: #333;
  border: 2px solid #548b54;
}
.header-image {
content:url(JT_Jacek_Tulacz_logo.png); // Den Link zu einem Bild kann mit Hilfe von CSS festgelegt werden;
width:auto;  // Größe des Bildes wird festgelegt
height: 100px; // Größe des Bildes wird festgelegt
background-size: cover
float:left;  // Das Bild wird links angezeigt. Bei wird es rechts angezeigt;
margin:0px;
position: relative;
top: -103%;
}
.Icon-image {
content:url(Icon.png);
width:auto;  // Größe des Bildes wird festgelegt
height: 250px; // Größe des Bildes wird festgelegt
background-size: cover
float:right;  // Das Bild wird links angezeigt. Bei wird es rechts angezeigt;
margin:0px;
position: relative;
top: -15%;
left: 80%;
}
.header-title {
font-family:'Montserrat', sans-serif;   ! Festlegung der Schriftart;
font-size:24pt;				! Festlegung des Schriftgröße;
font-weight:700;			! Festlegung des Fettschrift, hier können Sie auch bold angeben;
text-align:center;			! Schriftausrichtung, möglich ist left | center | right;
}

#fussbereich {
 position:fixed;              ! Position des Fußbereichs immer unten!;
 bottom: 0;                   ! Unten ausgerichtet!;
 left:0;                      ! Position ganz links;
 border: 1px solid #ccc;      ! Rahmenart und -farbe;
 width: 100%;                 ! Breite des Fussbereichs;
 background-color: #182C52;      ! Hintergrundfarbe;
 height:50px;                 ! Höhe des Fußbereichs;
 z-index:2;                   ! Fußbereich überlagert andere Bereiche;
 text-align:center;           ! Text wird im Fussbereich zentriert;
 padding:10px;                ! Innenabstand einheitlich bei 10px;
}

/*  -----------------------------------------        */
/*  Schriftformatierung                              */
/*  -----------------------------------------        */
p {
font-family: 'Montserrat', sans-serif;    ! Festlegung der Schriftart;
font-style:normal;               		! Festlegung des Schrifttyps;
font-size:11pt;                  		! Festlegung des Schriftgröße;
font-weight:normal;              		! Festlegung der Fettschrift;
color:#FFFFFF;                   		! Festlegung des Schriftfarbe;
}
.title {
font-size:12pt;                  		! Festlegung des Schriftgröße;
font-weight:bold;                		! Festlegung der Fettschrift;
margin-bottom:50px;
}
.footer-text {
margin:0;
padding:5px;
line-height:18px;
font-size:90%;           ! Festlegung des Schriftgröße;
font-weight:bold;        ! Festlegung der Fettschrift;
color: #FFFFFF;  ! Festlegung der Schriftfarbe (hier schwarz);
text-decoration:none;		! Keinen Unterstrich unterhalb des Menütitels;
text-transform:uppercase;	! Verwende Großbuchstaben;
}

 
.footer-text > a:hover {

	font-weight:700;	! Festlegung der Fettschrift für Montserrat, ansons-ten bold einstellen;
	font-style:oblique;	! Festlegung der Kursiv-Schrift;
	color: rgba(255,255,255,1);	! Festlegung des Schriftfarbe (weiß);
}

/*  -----------------------------------------   */
/* -----Formatierung der Links----------------- */
/*  -----------------------------------------   */
a.link {
   padding-top: 4px;
   color: rgba(255,255,255,0.5);
   font-weight:bold;
   transition: all 0.3s ease-out 0s; ! Definition des Übergangs zu Hover;
   text-decoration:none;		! Kein Unterstrich unterhalb des Titel;
   text-shadow: 1px 1px 1px black; ! Festlegung des Text-Shadows;
}

a.link_black {
   padding-top: 4px;
   color: rgba(0,0,0,0.5);
   font-weight:bold;
   transition: all 0.3s ease-out 0s; ! Definition des Übergangs zu Hover;
   text-decoration:none;		! Kein Unterstrich unterhalb des Titels;
   text-shadow: 1px 1px 1px grey; ! Festlegung des Text-Shadows (Schatten);
}